body {
    background-image:url("../images/piratemap.jpg");
    background-size:cover;
    font-family: 'Pirata One', cursive;
}

h1 {
    color:#201f1f;
    margin-top: 30px;
    text-shadow: 2px 2px 5px yellow;
    font-size:3em;
}

p {
    text-transform: capitalize;
    font-size: 1.2em;
}

.rules-stats {
    border: 3px dotted black;
    height: 550px;
    margin-top:100px;
}

#current-word {
    font-size: 2em;
    letter-spacing: 12px;
}

#guess1, #guess2, #guess3, #guess4, #guess5, #guess6, #guess7, #guess8, #guess9, #guess10, #guess11, #guess12, #guess13 {
    display:none;
}

#you-win {
    display: none;
}

#you-lose {
    display: none;
    text-shadow: 2px 2px 5px red;
}

#play-again {
    display:none;
}

